<script>
    const canvasArray = document.getElementsByClassName('canvas');

    function getBackgroundColor() {
        return "rgb("+[
            Math.round(Math.random()*0xFF),
            Math.round(Math.random()*0xFF),
            Math.round(Math.random()*0xFF)
        ].join()+")";
    }

    for (const canvas of canvasArray) {
        canvas.style.width = "100%"
        canvas.style.height = "2rem"
        const ctx = canvas.getContext('2d');
        ctx.fillStyle = getBackgroundColor();
        ctx.fillRect(0, 0, canvas.width, canvas.height);
    }

</script>