<nav id="side-nav">
	<div class="container">
		<nav>
		  <ul>
		    {% for nav in site.data.nav %}
		      {% if nav.subcategories != null %}
		        <li>
		          <a href="#">{{ nav.title }}</a>
		          <ul>
		          {% for subcategory in nav.subcategories %}
			          {% if subcategory.subhref-newtab != null %}
			            <li><a href="{{ subcategory.subhref-newtab }}" target="_blank">{{ subcategory.subtitle }}</a></li>
				      {% else %} 
			            <li><a href="{{ site.baseurl }}{{ subcategory.subhref }}" target="_top">{{ subcategory.subtitle }}</a></li>
				      {% endif %}
		          {% endfor %}
		          </ul>
		        </li>
		      {% elsif nav.title == page.title %}
		         <li class="active">
		           <a href="{{ nav.url }}" target="_top">{{ nav.title }}</a>
		         </li>
		      {% else %} 
		        <li>
		          <a href="{{ site.baseurl }}{{ nav.href }}" target="_top">{{ nav.title }}</a>
		        </li>
		      {% endif %}
		    {% endfor %}
		  </ul>
		</nav>
	</div>
</nav>

 