<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        let sampleButtons = document.getElementsByClassName('sample-button')
        for (const sampleButton of sampleButtons) {
            sampleButton.onclick = (e) => {
                let audio = document.getElementById(e.target.attributes.sampleId.value)

                if (!audio.src) {
                    sampleButton.classList.add('disabled')
                    audio.src = `/assets/samples/${audio.attributes.sample.value}`
                    audio.addEventListener("canplay", event => {
                        audio.play();
                        sampleButton.classList.remove('disabled')
                        sampleButton.classList.add('playing')
                    });
                    return;
                }

                if (!audio.paused) {
                    audio.pause();
                    sampleButton.classList.remove('playing')
                    return;
                }
                
                audio.play();
                sampleButton.classList.add('playing')
            }
        }
    });
</script>