<script>
    const initSamplePlayer = () => {
        let sampleButtons = document.getElementsByClassName('sample-button')
        for (const sampleButton of sampleButtons) {
            sampleButton.onclick = (e) => {
                let audio = document.getElementById(e.target.attributes.sampleId.value)

                if (!audio.src) {
                    sampleButton.classList.add('disabled')
                    audio.src = `/assets/samples/${audio.attributes.sample.value}`
                    audio.addEventListener("canplay", event => {
                        audio.play();
                        sampleButton.classList.remove('disabled')
                        sampleButton.classList.add('playing')
                    });
                    return;
                }

                if (!audio.paused) {
                    audio.pause();
                    sampleButton.classList.remove('playing')
                    return;
                }
                
                audio.play();
                sampleButton.classList.add('playing')
            }
        }
    }
    const initTextToSpeachButtons = () => {
        let textToSpeachButtons = document.getElementsByClassName('text-to-speach-button')
        for (const textToSpeachButton of textToSpeachButtons) {
            textToSpeachButton.onclick = (e) => {
                textToSpeachId = e.target.attributes.textToSpeachId.value
                let el = document.getElementById(textToSpeachId)
                let textToSpeachButtons = document.getElementsByClassName('text-to-speach-button')
                
                if (window.speechSynthesis.speaking) {
                    window.speechSynthesis.cancel();                    
                } 

                if (!e.target.classList.contains('playing')) {
                    for (const textToSpeachButton of textToSpeachButtons) {
                        textToSpeachButton.classList.remove('playing')
                    }
                    let msg = new SpeechSynthesisUtterance();
                    msg.text = el.textContent
                    window.speechSynthesis.speak(msg);            
                    e.target.classList.add('playing')
                } else {
                    e.target.classList.remove('playing')
                }
                
            }
        }

    }
    window.addEventListener('DOMContentLoaded', (event) => {
        initSamplePlayer()
        initTextToSpeachButtons()
    });
</script>