<ul>
    <li>{{ post.location | markdownify | remove: "<p>" | remove: "</p>"}}</li>
    <li><time>{{ post.date | date: "%b %-d, %Y" }}</time></li>
    <li>{{post.description | markdownify | remove: "<p>" | remove: "</p>"}}</li>
    {% if post.with %}
        <li>
            <i>with {{post.with | markdownify | remove: "<p>" | remove: "</p>"}}</i>
        </li>
    {% endif %}
    {% if post.link %}
        <li><a href="{{ post.link}}">&#128218; external link &#128218;</a></li>
    {% endif %}
    {% if post.bandcamp %}
        <li><a href="{{ post.bandcamp}}">&#163; &#128722; bandcamp &#128722; &#163;</a></li>
    {% endif %}
</ul>
