$content-width: 100%;
$nav-width: 150px;
$color-primary: orange;
$color-secondary: blue;
$font-style: "Lucida Console", Monaco, monospace;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $color-primary;
$heading-font: "Lucida Console", Monaco, monospace;
$heading-font-color: #262626;
$light: #E7EDF4;
$header:  #1D1425;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 