---
layout: default
---

{% for post in site.categories.composition %}


	<div class="compositions">
		<table>
		<tr>
		<td rowspan = "2" class="img-row">
		{% if post.img %}
		<a href="{{post.link}}">
			<img src="{{ site.baseurl }}/assets/img/{{post.img}}" alt="{{ post.title }}" class="img-big">
		</a>
		{% endif %}
		</td>
		</tr>
		<tr>
		<td>
		<b>{{ post.title }}</b><br>
		<time>{{ post.date | date: "%b %-d, %Y" }}</time><br>
		{{post.description}}<br>
		{% if post.with %} with <i>{{ post.with}}</i><br>{% endif %}
		</td></tr>
		</table>
	</div>
{% endfor %}
