---
layout: default
---

{% for post in site.posts %}
	<div class="documentation">
		{% if post.img %}
		<a href="{{post.link}}">
			<img src="{{ site.baseurl }}/assets/img/{{post.img}}" alt="{{ post.title }}" class="img-big">
		</a>
		<br>
		{% endif %}
		<table>
		<tr><td><b>{{ post.title }}</b></td></tr>
		<tr><td>{{ post.location}} <time>{{ post.date | date: "%b %-d, %Y" }}</time></td></tr>
		<tr><td>{{post.description}}</td></tr>
		<tr><td>{% if post.with %} with <i>{{ post.with}}</i><br>{% endif %}</td></tr>
		<tr><td>{{post.content}}</td></tr>
		</table>
	</div>
{% endfor %}
