---
layout: default
---   
{{ content }}

{% for post in site.categories.project %}
	{% for item in post.categories %}
		{% if page.title contains item %}
			<div class="project-posts">
				{% if post.img %}
				<a href="{{post.link}}">
					<img src="{{ site.baseurl }}/assets/img/{{post.img}}" alt="{{ post.title }}" class="img-big">
				</a>
				<br>
				{% endif %}
				<table>
				<tr><td><b>{{ post.title }}</b></td></tr>
				<tr><td>{{ post.location}} <time>{{ post.date | date: "%b %-d, %Y" }}</time></td></tr>
				<tr><td>{{post.description}}</td></tr>
				</table>
			</div>
	    {% endif %}
	{% endfor %}
{% endfor %}
