---
layout: default-nonav
---
<nav class="reader-nav">
	<a href="{{ site.baseurl }}/documentation/" target="_top">back</a>
</nav>
<div class="reader-container">
	{% for post in site.posts %}
		<div class="reader-post">
			<button class="text-to-speach-button docu-button" textToSpeachId="speak-{{ post.slug }}">&#128483;</button>
			{% include post_sample.html post=post%}	
			<article id="speak-{{ post.slug }}">
				<h1>{% include post_title_link.html %}</h1>
				{% include post_image.html %}
				{% include post_meta.html %}
				{% include post_content.html %}
			</article>
		</div>
	{% endfor %}
</div>
{% include button_scripts.html %}