---
layout: default-nonav
---
<div class="simple-view-container">
	{% for post in site.posts %}
		<div class="simple-view">
			<h1><a href="{{ site.baseurl }}{{ post.url}}">{{ post.title }}</a></h3>
			{% if post.img %}
				<a href="{{ site.baseurl }}{{ post.url}}">
					<img src="{{ site.baseurl }}/assets/img/happytom.png" data-echo="{{ site.baseurl }}/assets/img/sam_andreae_{{post.img}}" alt="sam andreae {{ post.title }}" class="img-small">
				</a>
				<br>
			{% endif %}
			{{ post.location | markdownify | remove: "<p>" | remove: "</p>"}}<br><time>
			{{ post.date | date: "%b %-d, %Y" }}</time><br>
			{{post.description | markdownify | remove: "<p>" | remove: "</p>"}}<br>
			{% if post.with %}
				with <i>Sam Andreae, {{post.with | markdownify | remove: "<p>" | remove: "</p>"}}</i><br>
			{% endif %}
			{% if post.link %}
				<a href="{{ post.link}}">{{ post.link}}</a>
			{% endif %}
			{% assign word_count = post.content | size %}
			{% if word_count > 1000 %}
				{{ post.content | truncatewords:120 }}
				<a href="{{ site.baseurl }}{{ post.url}}" target="_blank" rel="noopener">Read More</a>
			{% else %}
				{{post.content}}
			{% endif %}
		</div>
	{% endfor %}
</div>