---
layout: default
---
<div id="workshops">
{% for post in site.categories.workshop %}
	<div class="workshop">
		<table>
			<tr>
				<td>
					{% if post.img %}
					<img src="{{ site.baseurl }}/assets/img/{{post.img}}" alt="{{ post.title }}" class="img-big">
					<br>
					{% endif %}
					<a href="{{post.link}}">{{ post.title }}</a><br>
					<time>{{ post.date | date: "%b %-d, %Y" }}</time><br>
					{{post.description}}<br>
					{% if post.with %} with <i>{{ post.with }}</i><br>{% endif %}
				</td>
			</tr>
		</table>
	</div>
{% endfor %}
</div>